@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
body {
  font-size: larger;
}
@layer base {
  body {
    @apply md:text-lg text-sm bg-white dark:bg-[#000111] text-[#333F64] dark:text-[#6980C4]; 
  }
  label, p {
    @apply text-[#333F64] dark:text-[#8f8f8f] md:text-xl text-lg; 
  }
  
  h1 {
   @apply text-black/70 dark:text-[#abb5d2] md:text-5xl text-2xl; 
  }
  h2 {
   @apply text-black/70 dark:text-[#abb5d2] md:text-3xl text-2xl; 
  }
}